<div class="d-flex mb-3">
  <h1 class="display-6 fw-bold m-0">Product Lists</h1>
  <button class="btn btn-primary ms-4 btn-lg" routerLink="add">
    <i class="fa-solid fa-plus"></i>  Add
  </button>
</div>

<div class="card p-2 rounded-2 shadow-xl">
  <table class="table table-hover">
    <thead class="card-header">
      <tr class="text-uppercase">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">supplierId</th>
        <th scope="col">categoryId</th>
        <th scope="col">quantityPerUnit</th>
        <th scope="col">unitPrice</th>
        <th scope="col">unitsInStock</th>
        <th scope="col">unitsOnOrder</th>
        <th scope="col">reorderLevel</th>
        <th scope="col">discontinued</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="card-body">
      <tr *ngFor="let product of productList">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{supplierName}}</td>
        <td>{{categoryName}}</td>
        <td>{{product.quantityPerUnit}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock}}</td>
        <td>{{product.unitsOnOrder}}</td>
        <td>{{product.reorderLevel}}</td>
        <td>{{product.discontinued}}</td>
        <td>
          <button type="button" (click)="selectedProductId(product)" class="btn btn-sm btn-warning shadow-sm">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td>
          <button type="button" (click)="deleteProduct(product)" class="btn btn-sm btn-danger shadow-sm">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
