<header class="header">
  <div class="container">
    <div class="row">
      <div class="column">
        <a href="/" class="logo" aria-label="logo" title="logo">
          <img src="assets/img/logo.png" alt="Kodlama.io" />
        </a>
      </div>
      <div class="column topnav" id="myTopnav">
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a routerLink="" class="navigation-link">Kampa Hazırlık</a>
            </li>
            <li class="navigation-item">
              <a routerLink="/sss" class="navigation-link">Sık Sorulan Sorulan</a>
            </li>
            <li class="navigation-item">
              <a routerLink="/login" class="navigation-link">Giriş Yap</a>
            </li>
            <li class="navigation-item">
              <a routerLink="/register" class="navigation-link">Kayıt Ol</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
