<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: rgb(176, 127, 127);">
  <div class="container-fluid">
    <a class="navbar-brand">ETİYA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/homepage" routerLinkActive="active">HomePage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/add-product" routerLinkActive="active">Add Product</a>  <!--href="add-product-- sayfa yenilenir(önerilmez)"-->  <!--routerLinkActive="text-danger"-->
        </li>
        <li ngbDropdown class="d-block">
          <button type="button" class="btn" style="background-color: rgb(176, 127, 127); color: white;" id="dropdownBasic1" ngbDropdownToggle routerLinkActive="active">Dashboard</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/dashboard/customers">Customer</button>
            <button ngbDropdownItem routerLink="/dashboard/products">Product</button>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="testAuth()">Test Auth</a>
        </li>
      </ul>

      <app-cart-summary></app-cart-summary>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>

      <div
        *ngIf="!(tokenUserModel$ | async)"
        class="d-flex justify-content-center order-0 order-lg-1"
      >
        <a class="btn mx-2 py-2 px-4 rounded-1 bg-transparent" routerLink="register">Sign Up</a>
        <a class="btn btn-secondary mx-2 py-2 px-4 rounded-1 shadow" routerLink="login">Log in</a>
      </div>

      <div *ngIf="tokenUserModel$ | async" ngbDropdown class="d-block">      <!-- async ile gelen Observable'a abone oluyor ve ulaşıyor.-->
        <button type="button" class="btn" style="background-color: rgb(176, 127, 127); color: white;" id="dropdownBasic1" ngbDropdownToggle>
          {{ (tokenUserModel$ | async)?.userName }}
        </button>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="accountMenu">
          <li ngbDropdownItem (click)="logout()">Log out</li>
        </ul>
      </div>

    </div>
  </div>
</nav>
