<!-- TODO karta link ver -->
<div class="card">
  <img src="assets/img/lesson1.jpg" class="card-img" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
    <p class="card-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quaerat
      ex nostrum.
    </p>
    <div class="card-link">
      <div class="card-img-item">
        <img class="card-link-img" src="assets/img/engin-demirog.jpg" />
        <a href="#" class="card-link-item"> Engin Demiroğ</a>
      </div>

      <div><a class="card-link-item" href="#">Ücretsiz</a></div>
    </div>
  </div>
</div>
