<!-- <etiya-main-layout> -->
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

  <div class="container w-75">
    <form [formGroup]="serviceForm" (ngSubmit)="save()" >
      <div class="form-group m-3">
        <label for="name" class="block">Name</label>
        <input id="name" formControlName="name" type="text" aria-describedby="username-help" class="form-control" pInputText />
      </div>
      <button pButton label="Save" type="submit" class="p-button-success m-3" icon="pi pi-check" iconPos="left" [disabled]="serviceForm.invalid"></button>
      </form>
  </div>
<!-- </etiya-main-layout> -->




<!-- <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Edit Services" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="service.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !service.name">Name is required.</small>
  </div>




  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>
</p-dialog> -->

