<footer class="container-fluid position-relative mt-5">
  <div class="row p-5">
    <div class="col">
      <h3 style="color: #f78200">Telco Project</h3>
    </div>

    <div
      id="links"
      class="col d-flex justify-content-center align-items-center"
    >
      <a  routerLink="" alt= "" class="px-3 fs-5 link-light text-decoration-none">
        About us
      </a>
      <a  routerLink="" alt= "" class="px-3 fs-5 link-light text-decoration-none">
        Contact
      </a>
      <a  routerLink="" alt= "" class="px-3 fs-5 link-light text-decoration-none">
        Help Center
      </a>
      <a  routerLink="" alt= "" class="px-3 fs-5 link-light text-decoration-none">
        New Offers
      </a>
    </div>

    <div
      id="social-medias"
      class="col d-flex justify-content-center align-items-center"
    >
    <a  href="https://tr.linkedin.com/company/etiya" alt="" class="px-3 fs-5 link-light text-decoration-none">
      <i class="pi pi-linkedin"></i>
    </a>
      <a href="https://www.facebook.com/etiya/" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="pi pi-facebook"></i>
      </a>
      <a  href="https://www.instagram.com/etiya_/" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="pi pi-instagram"></i>
      </a>
      <a  href="https://twitter.com/etiya" alt=""class="px-3 fs-5 link-light text-decoration-none">
        <i class="pi pi-twitter"></i>
      </a>
      <a  href="https://www.youtube.com/channel/UCWjknu72sHoKKt2nujuU2kA" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="pi pi-youtube"></i>
      </a>
    </div>
  </div>
</footer>
