<div class="container">
  <div class="row">
    <div class="login">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
            <div >
              <div class="card-input">
                <label class="form-label">Email</label>
                <input class="form-input" type="email">
              </div>
              <div class="card-input">
                <label class="form-label">Password </label>

                <div>
                  <input class="form-input-password" type="email">
                  <i class="fa-solid fa-eye icon"></i>

                </div>


              </div>
            </div>

          </div>
      </div>

    </div>
  </div>
</div>
