<div class="container">
  <div class="row search-bar">
    <div class="column">
      <div class="row select-bar">
        <div class="column">
          <label>Kategori : </label>
          <select name="" id="">
            <option value="">Tümü</option>
            <option value="">Programlama 4</option>
          </select>
        </div>
        <div class="column">
          <label>Eğitmen : </label>
          <select name="" id="">
            <option value="">Tümü</option>
            <option value="">Engin Demiroğ</option>
          </select>
        </div>
      </div>
    </div>
    <div class="column">
      <form action="">
        <input
          type="search"
          id="gsearch"
          name="gsearch"
          placeholder="Kurs bul"
        />
        <button><i class="fa fa-solid fa-search"></i></button>
      </form>
    </div>
  </div>
</div>
