<!-- <div class="row mb-2" >
  <div class="col-11">
    <h3>Services List</h3>
  </div>
  <div class="col-1">
    <button pButton pRipple type="button" label="Add" routerLink="/add"  icon="pi pi-plus" class="p-button-raised p-button-warning"></button>
  </div>
</div> -->




    <ng-container   *ngIf="fetchStatus=='loaded'">
      <div class="card" >
      <p-table #dt [value]="serviceList" sortMode="multiple" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25]"  styleClass="p-datatable-serviceList"
      [globalFilterFields]="['id','name']" [rowHover]="true">
        <!-- <ng-template pTemplate="caption">
          Total Records : {{totalRecords}}
        </ng-template> -->
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Search keyword" />
                  </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id" style="width: 16rem"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name" style="width: 16rem"></p-sortIcon></th>
            <th></th>
          </tr>
          <!-- <tr>
            <th>
              <p-columnFilter type="text" field="id"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="name"></p-columnFilter>
            </th>
            <th>
            </th>
          </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>
            <td>{{service.id}}</td>
            <td>{{service.name}}</td>

            <td style="display:flex;justify-content:end; padding-right: 50px;">
              <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2" style="margin-right: 5px;" routerLink="/service/{{ service.id }}"></button> -->
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2" style="margin-right: 5px;" (click)="editService(service)"></button>

              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteService(service)"></button>
          </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{serviceList ? serviceList.length : 0 }} products.
          </div>
      </ng-template>
      </p-table>
      </div>
</ng-container>


<!-- <app-service-form [productDialog]="productDialog"></app-service-form> -->

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Edit Services" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="service.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !service.name">Name is required.</small>
  </div>




  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
