.bg{
  background-image:  url("https://www.etiya.com/userfiles/images/Slider/5_Helix.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@import "primeflex/primeflex.css";

