<!-- <div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ product.contactName }}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <button (click)="addToCartEvent(product.contactName)" class="btn btn-primary">Sepete Ekle</button>          <!--1-->
  <!--</div>
</div> -->


<!-- <div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      {{product.unitPrice}}
    </p>
    <button (click)="addToCartEvent(product)" class="btn btn-primary">Sepete Ekle</button>          <!--1-->
 <!-- </div>
</div> -->


<div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      {{product.unitPrice}}
    </p>
    <button (click)="addToCartEvent()" class="btn btn-primary">Sepete Ekle</button>          <!--1-->
  </div>
</div>
