<div class="row">
  <ng-container [ngSwitch]="fetchStatus">
    <ng-template
      *ngSwitchCase="'loaded'"
      let-product
      ngFor
      [ngForOf]="productList | filterProduct: categoryId"
    >
      <div class="col-4 mt-2 mb-3">
        <etiya-product-card [product]="product"></etiya-product-card>
      </div>
    </ng-template>

    <ng-container *ngSwitchCase="'pending'">
      <!-- <div class="col-4" *ngFor="let i of pageSizeList" >    Birden cok yerde dönecek array pipe olusturduk core modulunde
      </div> -->

      <div class="col-4" *ngFor="let i of pageSize | createFakeArray">
        <etiya-card-skeleton class="mt-3 mb-2"></etiya-card-skeleton>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'error'">
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          Unable to fetch products from server.
        </div>
      </div>
    </ng-container>

  </ng-container>
</div>





<!-- <div *ngFor="let p of productList" class="col-4 mt-4 mb-3">
  <etiya-product-card [product]="p"></etiya-product-card>
</div> -->
