<!-- <h3>Etiya</h3>
<h3>{{name}}</h3>
<button type="button" class="btn btn-primary">Primary</button>

<button type="button" class="btn btn-link">Link</button>
<app-product-list></app-product-list> -->
<!-- <router-outlet></router-outlet> -->

<div class="container mt-5">
  <button (click)="increase()" class="btn btn-primary"> Arttır     <!--button.btn -->
  </button>
  <p class="text-danger">{{counter}}</p>
  <p class="text-danger">{{getCounter()}}</p> <!--fonksiyon ile de deger dönebilir -->

  <p class="text-danger">{{Counter}}</p>  getter ile


  <app-product-list></app-product-list>
  <app-add-product></app-add-product>

</div>




