<!-- <h3>Etiya</h3>
<h3>{{name}}</h3>
<button type="button" class="btn btn-primary">Primary</button>

<button type="button" class="btn btn-link">Link</button>
<app-product-list></app-product-list> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="container mt-5">
  <button (click)="increase()" class="btn btn-primary"> Arttır     button.btn
  </button>
  <p class="text-danger">{{counter}}</p>
  <p class="text-danger">{{getCounter()}}</p> fonksiyon ile de deger dönebilir

  <p class="text-danger">{{Counter}}</p>  getter ile


  <app-product-list></app-product-list>
  <app-add-product></app-add-product>

</div>
 -->


 <!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <!-- <li class="nav-item" *ngFor="let link of links">
          <a *ngIf="link.toLowerCase() != 'home'" class="nav-link">
            {{link}}
          </a>
        </li> -->

         <!--<ng-template ngFor let-link [ngForOf]="links">
          <li class="nav-item" *ngIf="link.label.toLowerCase() != 'home'; else other_state">
            <a href="link.url" class="nav-link">{{link.label}}</a>
          </li>
        </ng-template>
        <ng-template #other_state>
          <p>Home değilse burası çalışır</p>
        </ng-template>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<etiya-navbar></etiya-navbar>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>


