<!-- <etiya-main-layout> -->
  <!-- <app-service-list></app-service-list> -->
<etiya-main-layout>
  <ng-container   *ngIf="fetchStatus=='loaded'">
    <div class="card" >
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <h3>Services</h3>
        </ng-template>
          <ng-template pTemplate="right">

            <!-- <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Search keyword" />
                    </span>
            </div> -->

            <button pButton pRipple type="button" label="New" routerLink="/add"  icon="pi pi-plus" class="p-button-raised p-button-warning"></button>
          </ng-template>
      </p-toolbar>

      <app-service-list [fetchStatus]="fetchStatus" [serviceList]="serviceList" (onBtnClick)="getEventValue($event)"></app-service-list>
    </div>
  </ng-container>



  <ng-container class="card"  *ngIf="fetchStatus=='pending'">
    <app-table-skeleton class="mt-3 mb-2"></app-table-skeleton>
  </ng-container>

  <ng-container *ngIf="fetchStatus=='error'">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        Unable to fetch products from server.
      </div>
    </div>
</ng-container>

</etiya-main-layout>




<!-- </etiya-main-layout> -->
