<!-- <div class="container">
  <ul class="list-group">
    <li *ngFor="let product of productList" class="list-group-item">   ngFor ve ngIf aynı elementt de olamaz
      <p *ngIf="product.city.toLowerCase()=='berlin'">{{product.contactName}}</p>
    </li>  products.filter(p=>p.)
  </ul>
</div> -->

<!-- <div class="container">
  <ul class="list-group">
    <ng-template ngFor let-product [ngForOf]="productList">   *ngFor ile aynı
      <li  *ngIf="product.city.toLowerCase()=='berlin'" class="list-group-item">
        <p>
          {{product.contactName}}
        </p>
      </li>  products.filter(p=>p.)
    </ng-template>

  </ul>
</div> -->



<!--Else durumu-->
<!-- <div class="container"> -->
  <ul class="list-group">
    <ng-template ngFor let-product [ngForOf]="productList">   <!--*ngFor ile aynı-->
      <li  *ngIf="product.city.toLowerCase()=='berlin'; else other_content" class="list-group-item">
        <p>
          {{product.contactName}}
        </p>
      </li>   <!--products.filter(p=>p.)-->
    </ng-template>
    <ng-template #other_content>
      <div>Else durumu</div>
    </ng-template>

  </ul>
<!-- </div> -->
